<div class="container">
  <div class="sidebar">
    <div class="image-profile">
      <img
        id="image-section"
        src="../../assets/pp.jpg"
        class="img-fluid"
        alt="Imagen de perfil"
      />
    </div>
    <!-- <svg viewBox="50 0 400 100">
      <text x="200" y="70" font-size="20px" fill="white">Mi Texto</text>
      <line
        x1="40"
        y1="90"
        x2="390"
        y2="90"
        stroke="lightblue"
        stroke-width="5"
      />
    </svg> -->
  </div>
  <div>
    <div class="content personal-data">
      <h3>
        <span class="name">Gaston</span> <span class="lastname">Fernandez</span>
      </h3>
      <span class="detail">
        <p>Teléfono Celular: +542235468926 / +542233691173</p>
        <p>Dirección: Alem 5037,Mar del plata, Buenos Aires, Argentina</p>
        <p>E-mail: gaston.fernandez&#64;yahoo.com</p>
        <p>Linkedin: www.linkedin.com/in/gastonfdz/</p>
      </span>
      <span class="about-me">
        <h1 class="section">Sobre mi</h1>
        <p>
          Como desarrollador de software en IT Patagonia, participe en el
          desarrollo de microservicios Java y frontend con Angular JS,
          utilizando Git y metodologías ágiles. He contribuido a la mejora de la
          calidad, la eficiencia y la seguridad del código, así como a la
          satisfacción de los clientes y usuarios finales. Soy técnico superior
          en programación por la UTN. Me apasiona aprender y aplicar las más
          recientes tecnologías, y me motiva el desafío de resolver problemas
          complejos y crear soluciones innovadoras. Mi objetivo es desarrollarme
          como programador de software, ampliando mis conocimientos y
          habilidades, y aportando valor a los proyectos y equipos en los que
          trabajo.
        </p>
      </span>
    </div>
    <div class="content qualifications">
      <h1 class="section">Cualificaciones</h1>
      <span class="detail">
        <ul>
          <li>
            Uso de metodologías Scrum: Ceremonias y dinámica como armado de
            reviews
          </li>
          <li>
            Informática y programación:
            <ul>
              <li>
                Back-end:
                <ul>
                  <li>
                    Base de Datos: MySQL: confección del DER, conversión del
                    mismo a BD, creación de rutinas básicas Creación de stored
                    procedure y funciones; inserción, modificación y eliminación
                    de datos, consultas complejas relaciones de tablas. Use de
                    herramientas MySQL workbench y PHPMyAdmin.
                  </li>
                  <li>
                    Java: Desrrollo de Microservicios con conexión a base de
                    datos
                    <strong> Framewor: Spring boot con JPA</strong>
                  </li>
                </ul>
              </li>
              <li>
                Frontend: realizar llamados a servicios restful por medio de
                HTTP y aplicar el diseño según prototipo desarrollado por UX
                <strong> Framewors: Angular 12 y Bootsrap 5</strong>
              </li>
            </ul>
          </li>
        </ul>
      </span>
    </div>
    <div class="content education">
      <h1 class="section">Educación</h1>
      <h3>
        <strong>
          <span class="institute"> Universidad Tecnológica Nacional </span>
        </strong>
        <span class="date">
          <span class="from">feb 2011</span><span class="to">feb 2014</span>
        </span>
      </h3>
      <span class="detail"> Tecnicatura superior en programación </span>
    </div>
    <div class="content experience">
      <h1 class="section">Experiencia</h1>
      <ul>
        <li>
          IT Patagonia: Desarrollador Feb 2020-Sep 2023
          <span>
            <ul>
              <li>Desarrollo de microservicios en Java con BD Orcle 12</li>
              <li>
                Desarrollo de Microforntend en Angular 12 y librerías de diseño
                propias de la compañía
              </li>
              <li>
                Con una dinámica de equipo Scrum, utilizando CI/CD de GitLab con
                control cruzado de push recuest
              </li>
            </ul>
          </span>
        </li>
        <li>
          Fundación Médica Mar del plata Desarrollador Ene 2017-Mar 2019
          <span>
            <ul>
              <li>Desarrollo web en JSP</li>
              <li>Integración con Bootstrap</li>
              <li>Desarrollo de reportes</li>
              <li>Conexión a BBDD Informix</li>
            </ul>
          </span>
        </li>
      </ul>
    </div>
    <div class="content references">
      <h1 class="section">Referencias</h1>
      <span class="detail">
        <ul>
          <li>
            Fernando Bruzzoni:
            <ul class="contact-data">
              <li>Puesto: Team leader</li>
              <li>Teléfono: 11-3414-1525</li>
            </ul>
          </li>
        </ul>
      </span>
    </div>
  </div>
</div>
