*{
    background-color: black;
    color: white;
}

nav.navbar {
    background-color: black !important;
}

.nav-link:hover{
    text-shadow: 1px 1px 0 white; 
}

.logo-text {
    position: relative;
    top: 10px;
    left: 10px;
}

.logo-text {
    display: inline-block;
  }
  
  .logo-text.hidden {
    display: none;
  }