svg {
    background-color: black;
  }
  
  svg text {
    font-family: Arial, sans-serif;
    font-size: 20px;
    fill: white;
  }
  
  h1, h2 {
    font-weight: bold;
  }
  
  p {
    font-style: italic;
  }
  
  #image-section {
    background-size: cover;
    background-position: center;
    height: 25vh;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    /* Ajusta la altura según tus necesidades */
  }